{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'my_site/style.css' %}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sterling Eide</title>
    </head>
    <body>
        <div id="navbar">
            <a id="tab" href="/">
                <p>Home</p>
            </a>
            <a id="tab" href="http://localhost:8000/portfolio/">
                <p>Portfolio</p>
            </a>
            <a id="tab" href="http://localhost:8000/about/">
                <p>About Me</p>
            </a>
            <a id="tab" href="http://localhost:8000/contact/">
                <p>Contact</p>
            </a>
        </div>
        {% block content %}
        {% endblock %}
        <div id="foot">
            <p id="foot-words">Check Out My Work:</p>
            <a href="https://www.linkedin.com/in/sterling-eide-03baa7224/">
                <img id="foot-image" src="../../static/my_site/images/linkedIn.png">
            </a>
            <a href="https://github.com/sterlingeide">
                <img id="foot-image" src="../../static/my_site/images/github.png">
            </a>
        </div>
    </body>
</html>