{% extends 'my_site/header.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'my_site/style.css' %}">
{% block content %}
<div id="portfolio-page">
    <div id="diagonal-first">
        <div id="project">
            <p>First Project</p>
        </div>
    </div>
    <div id="diagonal">
        <div id="project">
            <p>Second Project</p>
        </div>
    </div>
    <div id="diagonal">
        <div id="project">
            <p>Third Project</p>
        </div>
    </div>
    <div id="diagonal">
        <div id="project">
            <p>Fourth Project</p>
        </div>
    </div>
</div>
{% endblock %}