{% extends 'my_site/header.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'my_site/style.css' %}">
{% block content %}
<div id="portfolio-page">
    <div id="diagonal-first">
        <div id="project">
            <div class="description">
                <h1>Polygon Wars</h1>
                <p>A tower defense game where you buy towers and place them on the map to stop the endless waves of circles invading your home. </p>
            </div>
            <div class="tech">
                <h2>Tech Stack</h2>
                <p>HTML, Canvas,</p>
                <p>Javascript, CSS</p>
            </div>
            <div class="view">
                <h2>Check it out</h2>
                <p><a id="project-link" href="https://sterlingeide.github.io/polygon-wars/">Live Site</a></p>
                <p><a id="project-link" href="https://github.com/sterlingeide/polygon-wars">Github</a></p>
            </div>
            <div id="app-photo">
                <image id="app-photos" src="../../static/my_site/images/polygon_wars.png">
            </div>
        </div>
    </div>
    <div id="diagonal">
        <div id="project">
            <div class="description">
                <h1 id="description-2">DM Folder</h1>
                <p id="description-2">A website built to help the average game master organize their roleplaying game. It allows users to create characters, campaigns, many different types of notes while organizing and tying together all of the many elements that create a campaign. </p>
            </div>
            <div class="tech">
                <h2>Tech Stack</h2>
                <p>HTML, ExpressJS, EJS, Javascript, CSS, Sequelize, PostgreSQL, REST APIs</p>
            </div>
            <div class="view">
                <h2>Check it out</h2>
                <p><a id="project-link" href="https://dm-folder.herokuapp.com/">Live Site</a></p>
                <p><a id="project-link" href="https://github.com/sterlingeide/DMFolder">Github</a></p>
            </div>
            <div id="app-photo">
                <image id="app-photos" src="../../static/my_site/images/DM_folder.png">
            </div>
        </div>
    </div>
    <div id="diagonal">
        <div id="project">
            <div class="description">
                <h1 id="description-3">Viral</h1>
                <p id="description-3">A Covid-19 tracking website that provides up to date data to users. It also allows users to set their home county to get updates on and update a photo for their vaccine card.</p>
            </div>
            <div class="tech">
                <h2>Tech Stack</h2>
                <p>HTML, CSS, NodeJS, ExpressJS, ReactJS, MongoDB, REST APIs</p>
            </div>
            <div class="view">
                <h2>Check it out</h2>
                <p><a id="project-link" href="https://viral-covid.herokuapp.com/">Live Site</a></p>
                <p><a id="project-link" href="https://github.com/cspdevs000/viral-app">Github</a></p>
            </div>
            <div id="app-photo">
                <image id="app-photos" src="../../static/my_site/images/ViralHomePage.png">
            </div>
        </div>
    </div>
    <!-- <div id="diagonal">
        <div id="project">
            <h4>Survival Check</h4>
        </div>
    </div> -->
</div>
{% endblock %}